@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,600;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $violet;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  background-image: url(../assets/img/bg-mobile.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.windows__container{
  
  &--img{
    width: 100rem;
  }
}

