@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,600;1,400&display=swap');

body {
  background-image: url(../assets/img/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}